<?xml version="1.0" ?>
<robot name="football">
  <link name="football_chassis">
    <inertial>
      <mass value="0.0010"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="3.2e-7" ixy="0" ixz="0" iyy="3.2e-7" iyz="0" izz="3.2e-7"/>
    </inertial>
    <collision name="football__collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      
  </collision>
  <visual name="football__visual">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/ball.dae" scale="0.03 0.03 0.03"/>
    </geometry>
  </visual>
  </link>

</robot>